<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169824144675-066d8dpd92asumsu0t2tc5jai5008uab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169824144675-066d8dpd92asumsu0t2tc5jai5008uab</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tlQNTp-dioyMTXKk0wq-UFV52X5eQiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>169824144675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ACands</string>
	<key>PROJECT_ID</key>
	<string>cands-71015</string>
	<key>STORAGE_BUCKET</key>
	<string>cands-71015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169824144675:ios:c12e62b39dd8a0c6</string>
	<key>DATABASE_URL</key>
	<string>https://cands-71015.firebaseio.com</string>
</dict>
</plist>